 

/* root: seletor para elementos riz do documento. usado par definir variaveis CSS Globais */
:root{
    --bg--dark: #2C4C8C; /*variavel para cor de fundo*/
    --bg--card: #002162; /*variavel de cor de fundo do card*/
    --primary--neon: #002162 ; /*variavel de cor neon primaria*/
    --segundary--neon : #00143B; /*variavel de cor neon segundaria*/
    --text-main: #ffff; /*variavel cor de texto*/
    --text--dim: #a0a0a0; /*variavel para texto segundario*/
    --transition: all 0.3s ease; /*variavel de transicao suave de 0.3s*/


}

* {
    margin: 0; /* remove todas as margens externas*/
    padding: 0; /*remover todos od preenchimento interno*/
    box-sizing: border-box; /*Inclui padding e border na largura/altura total do elemento*/
}

html{
    scroll-behavior: smooth;/*Define a rolagem suave para ãncoras*/
}

body{
    font-family: 'inter' , sans-serif;/*define a familia da font como primaria*/
    background-color: var(--bg--dark);/*define a cor do fundo usando variavel*/
    color: var(--text-main); /*definindo a cor do texto usando variavel*/
    line-height: 1.6; /*define altura da linha para melhor legibilidade*/
    overflow-x: hidden; /*Esconde overflow (barra horinzontal)*/

}

/*classe para o container centralizado*/
.container {
    max-width: 1200px; /*Define largura maxima do container*/
    margin: 0 auto; /*Centraliza o container horizontalmente*/
    padding: 0 20px; /*Adicionar preenchimento lateral*/

}

/*Navbar Classe para barra de navegação*/
.navbar {
    height: 80px; /*Define altura fixa da navbar*/
    display: flex; /* Usa flexbox para o layout*/
    align-items: center; /* Alinha os itens verticalmente ao centro*/
    background-color:  rgba(15, 17, 26, 0.95); 
    position: sticky; /*Fixar o navbar no topo durante a rolagem*/
    top: 0; /*Posicina o topo do viewport*/
    z-index: 1000; /*garante que o navbar fique acima dos outros elementos*/
    border-bottom: 1px solid #2a2d3e;

}

/*flex-nav classse para o layout flexivel da navegação*/
.flex-nav {
    display: flex; /*Flexbox para alinhamento*/
    justify-content: space-between; /*Justificar o espaço entre os elementos (itens) igualmennte*/
    align-items: center; /*Linhas os itens verificalmente ao centro*/
    width: 100%; /*Largura total*/
}

/*Logo*/
.logo {
    font-size: 1.9rem; /*tamanho da font maior*/
    font-weight: 700; /*Peso da fonte*/
    letter-spacing: -1px; /*Espaçamento entre as letras fica reduzindo*/
}

/*Logo span estiliza a parte da logo colorida*/
.logo span {
    color: var(--primary--neon); /*Cor do texto usando variavel*/
}

/*Lista de menu de navegação*/
.nav-menu ul {
    display: flex; /*layout flexível horizontal*/
    list-style: none; /*Remover os marcadores da lista*/
}

/*Links do menu*/
.nav-menu ul li a {
    color: var(--text--dim); /*Cor do texto usando variavel*/
    text-decoration: none; /*Remove o Sublinhado*/
    margin: 0 15px; /*Espaçamento apenas nas laterais*/
    font-size: 0.9rem; /*fonte no tamanho suave*/
    transition: var(--transition) /*transição suave*/
}

/*Estado de houver dos links*/
.nav-menu li a:hover {
    color: var(--segundary--neon); /*Cor do texto usando variavel*/
}

/*Classe dos Botões de antrar e criar sua conta*/
.btn {
    padding: 10px 22px; /*Espaçamento interno*/
    border-radius: 8px; /*Nordas arredondadas*/
    text-decoration: none; /* remove o subliminhado*/
    font-weight: 600; /*Peso da fonte*/
    font-size: 0.9rem; /*Tamanho da fonte*/
    transition: var(--transition); /* */
    display: inline-block ;/* Exibe como um bloco em linha*/
}

.btn-neon {
    background: linear-gradient(135deg,var(--primary--neon), #9d50bb); /*Cor de fundo no estilo grediente*/
    color: #ffff; /*Cor de texto*/
    box-shadow: 0 4px 15px rgba(123, 47, 247, 0.3) /*Sombra colorida*/
}

.btn-neon:hover{
    transform: translateY(-2px); /*Move ligeiramente para cima*/
    box-shadow: 0 6px 20px rgba(123, 47, 247, 0.5) /*Sombra maior no hever*/
}

.btn-outline {
    border: 1px solid var(--primary--neon); /*Borda usando a variavel*/
    color: #ffff; /*Cor do texto*/
}

.btn-outline:hover {
    background: rgba(123, 47, 247, 0.1);
}

/*Hero section*/

/*.hero: classe para seção pricipal*/
.hero{
    padding: 100px 0; /*Preenchimento vertical*/
    min-height: calc(100vh - 80px); /*Altura minima da viewport menos o navbar*/
    display: flex; /*para centralizar*/
    align-items: center; /*Alinha os itens ao centro*/
}

/*.grid-hero: Grid para o layout da seção hero*/
.grid-hero {
    display: grid; /*Usa css Grid*/
    grid-template-columns: 1fr 1fr; /*Cplunas proporcionais*/
    gap: 40px; /*espaçamento entre colunas*/
    align-items: center; /*Alinhar os itens ao centro*/
}
/*classe do texto gradiente*/
.text-gradiente{
    background: linear-gradient(to right, var(--primary--neon),var(--segundary--neon)); /*cor do fundo grediente horizontal*/
    -webkit-background-clip: text; /*aplicar gredientes ao texto*/
    -webkit-text-fill-color: transparent; /*torna texto transparente para mostrar o grediente*/
}

/*Titulo da seção Hero*/
.hero-test h1{
    font-size: 3.5rem; /*tamanho da fonte*/
    line-height: 1.1; /*altura da linha*/
    margin-bottom: 20px; /*espaçamento inferior*/
}

/*paragrafo da seção*/
.hero-text p {
    font-size: 1.1rem; /*fonte tamanho medio*/
    color: var(--text--dim); /*Cor do texto*/
    margin-bottom: 30px; /*Espaçamento inferior*/
    max-width: 500px; /*Maxima largura*/
}

.card-mockup {
    border-radius: 20px; /*borda arredondada*/
    position: relative; /*posicionamento relativo*/
}

.card-mockup img {
    width: 100%; 
}

/*Feaure*/
/*Classe de seção de funcionalidade*/
.feature{
    padding: 80px 0; /*preenchimento apenas vertical*/
    background: #0a0c14;
}

/*Classe do titulo de seção*/
.section-title{
    text-align: center; /*Alinhamento de texto*/
    margin-bottom: 50px; /*espaçamento inferior*/
    font-size: 2rem; /*Tamanho de fonte*/
}

.text{
    margin: 60px 0; /*Espaçamento vertical*/
}

.grid-feature{
    display: grid; /*aplica css grid ao container (deixa responsivel em multiplas colunas)*/
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)); /*definino colunas responsivas com largura minima, valor: reapeat (auto-fit , minmax(250-x,1fr)) cria grid adaptavel que se ajusta ao tamanho da tela, garantindo minino de 250px para cada coluna*/
    gap: 25px; /*defini espaçamento entre os cards (ou elemento)*/
}

/*Classe para cards de funcionalidades*/
.feature-card{
    background: var(--bg--card); /*cor de fundo usando variavel*/
    padding: 40px 30px; /*espaçamento interno*/
    border-radius: 15px; /*aredondamento do centro*/
    transition: var(--transition); /*Aplica uma transição suave ao card*/
    border: 1px solid transparent;
}

.feature-card:hover{
    border-color: var(--primary--neon); /*cor de borda*/
    transform: translateY(-10px); /*Move o card para cima*/
}

.feature-card .icon{
    font-size: 2.5rem; /*define o tamanho dos icones*/
    margin-bottom: 20px; /*espaçamento inferior*/
}

/*Seção de planos*/
.plan{
    padding: 80px; /*espaçamento  interno*/
    background: var(--bg--dark); /*cor de fundo usando variavel*/
} 
.grid-plan{
    display: grid; /*CSS grid*/
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)); /*grid-tample-columns : colunas responsivas/A propriedade grid-tample-comuns: reapt(auto-fit, minmax(250px,1fr)),define as colunas do grid são estruturas.-reapt():repete um padrão de colunas, aqui ele cria multiplas colunas com o mesmo tamanho - auto-fit: ajusta automaticamente o numero de colunas para caber no espaço disponivel. Ele "Encaixa" o maximo possivel de colunas sem ultrapassar a largura do container,evitando espaços vazios desnecessarios. - minmax: define o tamanho minimo e maximo de cada coluna:width:250px:Largura minima de cada coluna (garante que não fique estreito)-1f:largura maxima como uma fração (1fr) do espaço restante,permitindo que as colunas se espandas igualmente para preencher o container.*/
    gap: 25px; /*Espaçamento*/

}


/*Classe de card dos planos*/
.plan-card {
    background: var(--bg--card); /*Cor do fundo dos cards*/
    padding: 40px 30px; /*espaçamento interno*/
    border-radius: 15px; /*borda arredondada*/
    transition: var(--transition); /*transição suave*/
    border: 1px solid transparent;
    display: flex; /*tipo da display (flexivel)*/
    align-items: center; /*alinhamento dos itens*/
    flex-direction: column; /*direção dos itens em coluna*/
}

.plan-card:hover {
    border-color: var(--primary--neon); /*cor da borda*/
    transform: translateY(-10px); /*movimenta o card para cima*/
}

.plan-card.icon {
    font-size: 2.5rem; /*tamanho grande dos icones*/
    margin-bottom: 20px; /*espaçamento inferior*/
}

/*Lista de itens*/
.plan-list {
    padding: 30px; /*espaçamento em cima em baixo*/
    width: 100%; /*ocupando largura total*/
}


.plan-card ul {
    padding: 20px; /*espaçamento interno*/
}

.plan-card li{
    list-style-image: url(/assets/imagem/Vector.png); /*icone personalizado */
}


/*Price*/

.price {
    font-size: 30px; /*tamanho da fonte*/
    padding: 30px 0;
}

.price span {
    font-size: 20px;
}

.plan-card hr {
    width: 100%;
    margin-top: 33px;
    border: 1px solid #2a2d3e;
}

.plan-highlight{
    background: #7d31f3;
}

.btn-dark{
    border: 1px solid #1a1d2e;
}

.btn-dark:hover {
    background: rgba(52, 20, 105, 0.1);
}

/*seção do blog*/
.blog{
    padding: 80px;
    background: #0a0c14;
}

.grid-blog{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(250px, 1fr));
    gap: 25px;
}

.blog-card{
    background: var(--bg--card);
    padding: 40px 30px;
    border-radius: 15px;
    transition: var(--transition);
    border: 1px solid transparent;
    position: relative;
    padding-bottom: 90px;
}

.blog-card:hover {
    border-color: var(--primary--neon);
    transform: translateY(-10px);
}

.blog-card img {
    width: 100%;
}

.blog-ffoter-card {
    position: absolute;
    bottom: 10px;
    left: 0;
    text-align: center;
    width: 100%;
}

.box-btn-blog {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 60px;

}
/*Responsividade para outras telas*/
@media(max-width: 992px) {
    .nav-menu,
    .nav-btns {
        display: none; /*Ocultar os elementos*/

    }
    
}

    
